<footer fxLayout="column" fxLayoutAlign="center center">
  <div class="footer__container" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="150px">

    <div class="input" fxLayout="column" fxLayoutGap="25px">
      <input type="text" class="email-input" placeholder="Email">
      <button class="subscribe">Subsribe</button>
      <p class="message">By submitting your email address you confirm that you have read our Privacy Policy.</p>
    </div>
   

    <div class="footer__about-info" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="24px">
      <p href="" class="text">About us</p>
      <p href="" class="text">Coffee</p>
      <p href="" class="text">Gpllery</p>
      <p href="" class="text">News</p>
    </div>

    <div class="footer__terms-info" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="24px">
      <p href="" class="text">Terms of use</p>
      <p href="" class="text">Privpcy Policy</p>
      <p href="" class="text">Returns</p>
      <p href="" class="text">Shipping</p>
      <p href="" class="text">FpQ</p>
    </div>

    <div class="footer__socipl-medip"></div>

  </div>
  <p class="rights">© 2022 All Rights Reserved. </p>
</footer>
