<footer>
  <div class="footer__container">
    <div class="footer__subscribe-info"></div>
    <div class="footer__about-info">
      <a href="" class="footer__about-info__text"></a>
      <a href="" class="footer__about-info__text"></a>
      <a href="" class="footer__about-info__text"></a>
      <a href="" class="footer__about-info__text"></a>
    </div>
    <div class="footer__terms-info">
      <a href="" class="footer__about-info__text"></a>
      <a href="" class="footer__about-info__text"></a>
      <a href="" class="footer__about-info__text"></a>
      <a href="" class="footer__about-info__text"></a>
      <a href="" class="footer__about-info__text"></a>
    </div>
    <div class="footer__social-media"></div>
  </div>
</footer>
