<section class="main-page-section5__section5 layout">
  <div class="main-page-section5__flex12 layout">
    <h1 class="main-page-section5__hero-title2 layout">Advantages</h1>
    <div class="main-page-section5__group layout">
      <div class="main-page-section5__cover-block4 layout">
        <div class="main-page-section5__flex13 layout">
          <div class="main-page-section5__flex14 layout">
            <div class="main-page-section5__flex14-item">
              <div
                style="--src:url(../../../assets/img/advantages/pulse.png)"
                class="main-page-section5__icon1 layout"
              ></div>
            </div>
            <div class="main-page-section5__flex14-spacer"></div>
            <div class="main-page-section5__flex14-item1">
              <div
                style="--src:url(../../../assets/img/advantages/lightning.png)"
                class="main-page-section5__image7 layout"
              ></div>
            </div>
          </div>
          <div class="main-page-section5__flex15 layout">
            <div class="main-page-section5__flex15-item">
              <h4 class="main-page-section5__highlights5 layout">Linked to a lower risk of depression</h4>
            </div>
            <div class="main-page-section5__flex15-spacer"></div>
            <div class="main-page-section5__flex15-item">
              <h4 class="main-page-section5__highlights5 layout">Boosts energy levels</h4>
            </div>
          </div>
          <div class="main-page-section5__flex16 layout">
            <div class="main-page-section5__flex16-item">
              <div
                style="--src:url(../../../assets/img/advantages/lump.png)"
                class="main-page-section5__icon1 layout"
              ></div>
            </div>
            <div class="main-page-section5__flex16-spacer"></div>
            <div class="main-page-section5__flex16-item">
              <div
                style="--src:url(../../../assets/img/advantages/fire.png)"
                class="main-page-section5__icon1 layout"
              ></div>
            </div>
          </div>
          <div class="main-page-section5__flex15 layout1">
            <div class="main-page-section5__flex15-item">
              <h4 class="main-page-section5__highlights5 layout">Helps you focus and stay alert</h4>
            </div>
            <div class="main-page-section5__flex15-spacer"></div>
            <div class="main-page-section5__flex15-item">
              <h4 class="main-page-section5__highlights5 layout">It may help you lose weight</h4>
            </div>
          </div>
        </div>
      </div>
      <div
        style="--src:url(../../../assets/img/advantages/coffee-beans-orange.png)"
        class="main-page-section5__image8 layout"
      ></div>
      <div
        style="--src:url(../../../assets/img/advantages/coffee-beans-blue.png)"
        class="main-page-section5__image9 layout"
      ></div>
      <div
        style="--src:url(../../../assets/img/advantages/coffee-beans-white.png)"
        class="main-page-section5__image10 layout"
      ></div>
    </div>
  </div>
</section>
