.main-page-section5__section5 {
  display: flex;
  flex-direction: column;
}
.main-page-section5__section5.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 0 0 40% 0;
}
.main-page-section5__flex12 {
  display: flex;
  flex-direction: column;
}
.main-page-section5__flex12.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 50px 0px;
}
.main-page-section5__hero-title2 {
  display: flex;
  justify-content: flex-end;
  font: 700 36px/1.2 "Playfair Display", Helvetica, Arial, serif;
  color: rgb(14, 14, 14);
  text-align: right;
  letter-spacing: 0px;
}
.main-page-section5__hero-title2.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 14.44%;
  margin: 0px auto;
}
.main-page-section5__group {
  display: flex;
  flex-direction: column;
}
.main-page-section5__group.layout {
  position: relative;
  height: 528px;
  width: 1310px;
  min-width: 1310px;
  margin: 39.1px 0px 0px 65px;
}
.main-page-section5__cover-block4 {
  display: flex;
  flex-direction: column;
  background-color: rgb(15, 15, 15);
}
.main-page-section5__cover-block4.layout {
  position: relative;
  height: 383px;
  width: 716px;
  min-width: 716px;
  margin: 79px 0px 0px 587px;
  border-radius: 0 10em;
}
.main-page-section5__flex13 {
  display: flex;
  flex-direction: column;
}
.main-page-section5__flex13.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 65.64%;
  margin: 68px 16.2% 68px 18.16%;
}
.main-page-section5__flex14 {
  display: flex;
}
.main-page-section5__flex14.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 61.91%;
  margin: 0px 15.11% 0px 22.98%;
}
.main-page-section5__flex14-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 44px;
}
.main-page-section5__icon1 {
  background: var(--src) center center/contain no-repeat;
}
.main-page-section5__icon1.layout {
  position: relative;
  height: 44px;
  width: 44px;
  min-width: 44px;
}
.main-page-section5__flex14-spacer {
  flex: 0 1 228px;
}
.main-page-section5__flex14-item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 19px;
}
.main-page-section5__image7 {
  background: var(--src) center center/contain no-repeat;
}
.main-page-section5__image7.layout {
  position: relative;
  height: 36px;
  width: 19px;
  min-width: 19px;
  margin: 4px 0px;
}
.main-page-section5__flex15 {
  display: flex;
}
.main-page-section5__flex15.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 89.79%;
  margin: 13px 0% 0px 10.21%;
}
.main-page-section5__flex15-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 1 164px;
}
.main-page-section5__highlights5 {
  display: flex;
  justify-content: center;
  font: 500 18px/1.2 "Inter", Helvetica, Arial, serif;
  color: rgb(255, 255, 255);
  text-align: center;
  letter-spacing: 0px;
}
.main-page-section5__highlights5.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.main-page-section5__flex15-spacer {
  flex: 0 1 94px;
}
.main-page-section5__flex16 {
  display: flex;
}
.main-page-section5__flex16.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 64.26%;
  margin: 44px 12.77% 0px 22.98%;
}
.main-page-section5__flex16-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 44px;
}
.main-page-section5__flex16-spacer {
  flex: 0 1 214px;
}
.main-page-section5__flex15.layout1 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 89.79%;
  margin: 13px 0% 1px 10.21%;
}
.main-page-section5__image8 {
  background: var(--src) center center/contain no-repeat;
}.main-page-section5__image8.layout {
   position: absolute;
   top: 0px;
   height: 393px;
   left: 0px;
   right: 0px;
   width: 18.93%;
   margin: 7px 49.39% 128px 31.68%;
 }
.main-page-section5__image9 {
  background: var(--src) center center/contain no-repeat;
}
.main-page-section5__image9.layout {
  position: absolute;
  top: 0px;
  height: 408px;
  left: 0px;
  width: 253px;
  min-width: 253px;
}
.main-page-section5__image10 {
  background: var(--src) center center/contain no-repeat;
}
.main-page-section5__image10.layout {
  position: absolute;
  top: 0px;
  height: 501px;
  left: 0px;
  right: 0px;
  width: 24.43%;
  margin: 27px 63.44% 0px 12.14%;
}

