<section class="subscribe__section layout">
  <div class="subscribe__container layout">
    <div class="subscribe__info__container">
      <div class="subscribe__info layout">
        <h1 class="subscribe__info__title layout">Subscribe to our Newsletter</h1>
        <h5 class="subscribe__info__subtitle layout">
          Sign up with your email address to receive news and updates.
        </h5>
        <form action="#" method="get">
          <input type="email" name="email" placeholder="Email" class="subscribe__field__email layout"/>
          <input type="submit" name="submit" value="Subscribe" class="subscribe__field__submit layout"/>
        </form>

        <div class="subscribe__info__undertext layout">
          By submitting your email address you confirm that you have read our Privacy Policy.
        </div>
      </div>
    </div>
    <div class="subscribe__image__spacer"></div>
    <div class="subscribe__image__container">
      <div
        style="--src:url(../../../assets/img/subscribe/subscribe-beans.png)"
        class="subscribe__image layout"
      ></div>
    </div>
  </div>
</section>
