<div class="main">
  <div class="container" fxLayout="row" fxLayoutAlign="space-between">
    <div class="main-text" fxLayout="column">
      <div class="main-text__container">
        <h1 class="main-text__heading">COFFEE BEANS</h1>
        <p class="main-text__description">
          Just the kind of coffee you need every morning to feel human.
        </p>
        <button class="main-text__shop-button">SHOP NOW</button>
      </div>
    </div>
    <div class="background-recktangle">
      <img src="../../../assets/img/Beans/beans-main.png" alt="beans" class="main-products__beans"/>
    </div>
    <!-- <div class="main-products__beans" fxFlex="1 50px">-->
  </div>
</div>
