<div class="about-info">
  <div class="container" fxLayout="row" fxLayoutAlign="space-between">
    <div class="about-info__text-block" fxLayout="column">
      <div class="about-info__text-block__container">
        <h1 class="about-info__text-block__header">About us</h1>
        <p class="about-info__text-block__text">
          Our philosophy is to source fresh-roasted coffee & make a positive
          impact on hard working farmers, their families, and the environment.
        </p>
        <p class="about-info__text-block__text">
          Thanks to the wide range, everyone will be able to buy the coffee that
          impresses the most. Delicious, strong, fragrant coffee - the morning
          should start with it.
        </p>
        <a href="#" class="about-info__text-block__read-more-ref">Read more</a>
      </div>
    </div>

    <div class="about-info__img">
      <img
        src="../../../assets/img/about-info/about-info-img.jpg"
        alt="about-info"
      />
    </div>
  </div>
</div>
